* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fafaf8;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5em;
  border-bottom: 1px solid #c7c7c7;
  background-color: white;
}

.logo {
  height: 3em;
}

.title {
  font-weight: normal;
  margin-left: .5em;
}

main {
  padding: 30px 30px 10px;
}

.add-ingredient-form {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient-form input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient-form button {
  font-family: 'Inter', sans-serif;
  border-radius: 6px;
  border: none;
  background-color: #141413;
  color: #fafaf8;
  width: 150px;
  font-size: .875rem;
  font-weight: 500;
}

.add-ingredient-form button::before {
  content: '+';
  margin-right: 5px;
}

ul.ingredients-list {
  margin-bottom: 48px;
}

ul.ingredients-list > li {
  color: #475467;
  line-height: 1.75;
}

.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(204, 204, 191);
  padding: 10px 28px;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

.get-recipe-container p {
  color: #6b7280;
  font-size: .875rem;
  line-height: 1.25;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background-color: #d17557;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
  color: #fafaf8;
  padding: 9px 17px;
  font-family: 'Inter', sans-serif;
  font-size: .875rem;
}