* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fafaf8;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.5em;
  border-bottom: 1px solid #c7c7c7;
  background-color: white;
}

.logo {
  height: 3em;
}

.title {
  font-weight: normal;
  margin-left: .5em;
}